@import "@/styles/variables.scss";

.sidebarContainer {
  position: fixed;
  top: 0;
  right: -$settings-slide-width;
  width: $settings-slide-width;
  height: 100%;
  background-color: var(--settings-slide-background);
  transition: right $settings-slide-transition;
  z-index: 1000;
  padding: $container-padding;
  // box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); THIS SHADOW IS VISIBLE EVEN WHEN THE SIDEBAR IS NOT ACTIVE

  &.active {
    right: 0;
  }

  .closeButton {
    font-size: $font-size-page-header;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: right;
  }

  .section {
    margin-bottom: 20px;

    h2 {
      font-size: 16px;
      color: var(--container-color);
      margin-bottom: 10px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid var(--container-color);
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      .label {
        color: $container-color;
      }

      .icon {
        color: $color-brand;
      }
    }
  }

  .toggleGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    label {
      font-size: $font-size-body-text;
      color: var(--container-color);
    }

    .toggleSwitch {
      position: relative;
      width: 40px;
      height: 20px;
      background-color: var(--profile-visibility-toggle-color);
      border-radius: 10px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: var(--container-color);
        border-radius: 50%;
        top: 1px;
        left: 1px;
        transition: transform 0.3s ease;

        &.active {
          transform: translateX(20px);
        }
      }
    }
  }
}