@import "@/styles/variables.scss";

.navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  background-color: var(--color-navbar-top);
  color: var(--color-body-font);
  z-index: 1000;

  .navWrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 77px;
    background-color: var(--color-navbar);
    box-shadow: var(--color-navbar-shadow);
  }

  .navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: var(--color-icon);
    text-align: center;
    transition: transform 0.5s ease, color 0.5s ease;
    position: relative;
    outline: none;
    z-index: 1001;

    img {
      width: 36px;
      height: 36px;
      margin-bottom: 5px;
      transition: filter 0.5s ease, transform 0.5s ease;
    }

    span {
      font-size: 12px;
      color: var(--color-body-font);
      transition: color 0.5s ease;
      white-space: nowrap;
    }

    &:focus {
      outline: none;
    }
  }

  .navItemActive {
    color: $color-brand;
    transform: translateY(-15px);

    img {
      filter: brightness(1.2);
      transform: scale(1.0);
      transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
      z-index: 2;
      height: auto;
      width: auto;
    }

    span {
      margin-top: 20px;
      color: var(--color-body-font);
      font-family: var(--font-poppins-regular);
    }
  }

  .circle, .innerCircle {
    transition: 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    padding: $padding-small;
    border-radius: 50%;
    z-index: 1000;
  }

  .circle {
    background: transparent;
    position: fixed;
    bottom: 48px;
    left: -10%;
  }

  .innerCircle {
    background: #855DB9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ellipse {
    width: 125px;
    height: 125px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}