// CLEAN UP THIS FILE

.searchBar {
  align-items: center;
  background-color: var(--color-input);
  border-radius: vars.$radius-small;
  display: flex;
  height: 44px;
  padding: vars.$padding-small;
  position: relative;
  z-index: 10;

  input {
    background: none;
    border: none;
    flex: 1;
    font-size: vars.$font-size-body-medium;
    outline: none;
  }
}

.searchBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 5;
}

.searchDropdown {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-large;
  z-index: 10;
  background-color: var(--color-input);
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  border-radius: vars.$radius-small;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.08);
  padding: 20px;
  max-height: 800px;
  overflow-y: auto;
  scrollbar-width: none;

  .searchDropdownSection {
    display: flex;
    flex-direction: column;
    gap: vars.$gap-small;
  }

  .dropdownEventItem,
  .dropdownSummaryItem {
    display: flex;
    flex-direction: column;
    gap: vars.$gap-small;
    background: var(--color-bg);
    border-radius: vars.$radius-small;
    padding: vars.$padding-small;
    color: vars.$color-font-body;
  }

  .dropdownLoading,
  .dropdownError,
  .dropdownNoResults {
    text-align: center;
    color: vars.$color-font-body;
  }

  .searchDropdownMasonry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: vars.$gap-medium;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}
