.sidebarContainer {
  background-color: vars.$color-background;
  color: vars.$color-font-body;
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
  height: 100%;
  position: fixed;
  right: -(vars.$settings-slide-width);
  top: 0;
  transition: right vars.$transition-duration;
  width: vars.$settings-slide-width;
  z-index: 1001;
  overflow: none;

  h2 {
    padding-left: vars.$padding-medium;
  }

  &.active {
    right: 0;
  }

  .closeButton {
    color: vars.$color-brand;
    cursor: pointer;
    font-size: vars.$font-size-header-large;
    position: absolute;
    right: 5%;
    text-align: right;
    top: 5%;
  }

  .sidebarHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: vars.$padding-medium;
    gap: vars.$gap-medium;
    height: 300px;

    img {
      width: 25%;
    }
  }

  .sidebarSection {
    background-color: var(--color-navbar);
    display: flex;
    flex-direction: column;
    gap: vars.$gap-medium;
    padding: vars.$padding-medium;
  }

  .sidebarItem {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }
  }
}
