@import "@/styles/variables.scss";

.sidebarContainer {
  background-color: $color-background;
  color: var(--color-body-font);
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  height: 100%;
  position: fixed;
  right: -$settings-slide-width;
  top: 0;
  transition: right $settings-slide-transition;
  width: $settings-slide-width;
  z-index: 1000;
  
  h1 {
    font-size: $font-size-page-header;
    line-height: 1;
  }

  h2 {
    font-family: $font-poppins-regular;
    font-size: $font-size-event-date;
    font-weight: 400;
    line-height: 1;
    padding: 0 $padding-medium;
  }

  p {
    font-family: $font-poppins-regular;
    font-size: $font-size-body-text;
    font-weight: 600;
  }

  &.active {
    right: 0;
  }

  .closeButton {
    color: $color-brand;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 5%;
    text-align: right;
    top: 5%;
  }

  .sidebarHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding-medium;
  }

  .sidebarSection {
    background-color: var(--color-navbar);
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    padding: $padding-medium;
  }

  .sidebarItem {
    align-items: center;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }
  }
}