.sidebarContainer {
  background-color: vars.$color-background;
  color: vars.$color-font-body;
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
  height: 100%;
  position: fixed;
  right: -25%;
  top: 0;
  transition: right vars.$transition-duration;
  width: 25%;
  z-index: 1001;
  overflow: none;

  h2 {
    padding-left: vars.$padding-medium;
  }

  &.active {
    right: 0;
  }

  .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: vars.$gap-medium;
  }

  .closeButton {
    color: vars.$color-brand;
    cursor: pointer;

    img {
      width: 24px !important;
      height: 24px !important;
    }
  }

  .sidebarHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: vars.$padding-medium;
    gap: vars.$gap-medium;
    height: 200px;

    img {
      width: 25%;
    }
  }

  .sidebarSection {
    background-color: var(--color-navbar);
    display: flex;
    flex-direction: column;
    gap: vars.$gap-medium;
    padding: vars.$padding-medium;
  }

  .sidebarItem {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }
  }
}
