.tabContainer {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  display: flex;
  overflow-x: auto;
  gap: vars.$gap-medium;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .tabItem {
    color: var(--color-header-font);
    text-wrap: nowrap;
    padding: vars.$profile-tab-padding;
    border-radius: vars.$radius-small;
    cursor: pointer;
    font-size: vars.$font-size-header-small;
  }

  .activeTab {
    background-color: var(--color-feed-item-bg);
  }
}

.tabContent {
  height: 100%;
  overflow-y: auto;
}
