.userSettingsContainer {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
  background-color: vars.$color-background;
  overflow-y: auto;
  padding: vars.$padding-medium;
  height: 100vh;
  position: fixed;
  right: -100%;
  top: 0;
  transition: vars.$transition-duration-long;
  width: 100%;
  z-index: 1001;
  overflow: none;
  pointer-events: none;

  &.active {
    right: 0;
    pointer-events: auto;
  }

  @media (max-width: 800px) {
    overflow: scroll;
    transition: vars.$transition-duration-short;
  }
}

.pageTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: vars.$gap-medium;

  h1 {
    color: vars.$color-brand;
  }

  img {
    border-radius: 50%;
  }
}

.labelWrapper {
  gap: vars.$gap-small;

  .labelContainer {
    position: relative;
    .editIcon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.settingsContainer {
  display: flex;
  gap: vars.$gap-medium;

  label {
    color: vars.$color-font-body;
    font-size: vars.$font-size-body-large;
  }

  .settingsBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: vars.$gap-small;
  }

  .toggleContainer {
    align-self: end;
  }
}
