.userSettingsContainer {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
  background-color: vars.$color-background;
  overflow-y: auto;
  padding: vars.$padding-medium;
  height: 100vh;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: vars.$gap-medium;

  img {
    border-radius: 50%;
  }
}

.labelWrapper {
  .labelContainer {
    position: relative;
    .editIcon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.settingsContainer {
  display: flex;
  gap: vars.$gap-medium;

  label {
    color: vars.$color-font-body;
    font-size: vars.$font-size-body-large;
  }

  .settingsBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: vars.$gap-small;
  }
}
