@import "@/styles/variables.scss";

.exploreContainer {
  padding: $container-padding;
  color: $container-color;
  display: flex;
  flex-direction: column;
  height: $container-height;
  width: $container-width;
  box-sizing: border-box;
  overflow-y: $container-overflow-y;
  margin-bottom: 100px;
}

.featuredSection {
  margin-bottom: 20px;
}

.seeAll {
  font-family: $font-poppins-regular;
  font-weight: 600;
  color: $color-brand;
  text-decoration: none;
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  gap: 24px;
  padding-bottom: 10px;
}

.scrollItem {
  position: relative;
  min-width: 240px;
  height: 240px;
  border-radius: 8px;
  overflow: hidden;
}

.wordsOfWisdomWrapper {
  flex: 1;
}