@import "@/styles/variables.scss";

.profileContainer {
  padding: $container-padding;
  display: flex;
  flex-direction: column;
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: $container-padding;
  background-color: var(--color-bg-secondary);
  border-radius: $radius-large;
  margin-bottom: 20px;
}

.avatar {
  flex-shrink: 0;
}

.userInfo {
  flex-grow: 1;

  .username {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-header-font);
  }

  .bio {
    font-size: 16px;
    color: var(--color-body-font);
  }
}

.tabsWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabItem {
  color: var(--color-header-font);
  padding: $profile-tab-padding;
  border-radius: $radius-large;
  cursor: pointer;
  font-size: 15px;
  font-family: $font-poppins-regular;
  font-weight: 600;
  flex: 0 0 auto;

  &:hover {
    background-color: var(--color-input-hover);
  }
}

.activeTabItem {
  background-color: var(--color-input);
}

.tabContent {
  padding-top: 20px;
}