@import "./styles/variables.scss";

.activityCommentWrapper {
    background-color: $color-background;
    border-bottom: 1px solid var(--color-feed-item-bg);
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    padding: 0 20px 20px 20px;

    h3 {
        color: var(--color-header-font);
        font-family: $font-poppins-regular;
        font-size: $font-size-event-date;
        font-weight: 400;
    }

    p {
        color: var(--color-comment-font);
        font-family: $font-poppins-thin;
        font-size: $font-size-body-text;
        font-weight: 200;
    }

    span {
        color: var(--color-comment-font-detail);
        font-size: 12px;
    }
  
  .commentText {
    font-size: 14px;
    color: var(--color-body-font);
  }

  .commentFooter {
    display: flex;
    align-items: center;
    gap: $gap-medium;

    .voteContainer {
        display: flex;
        align-items: center;
        gap: $gap-small; //make into $gap-container-small
        
        .upvoteIcon {
            width: 18px;
            height: 18px;
        }

        .downvoteIcon {
            width: 18px;
            height: 18px;
            transform: rotate(180deg);
        }
    }
    
    .commentContainer {
        display: flex;
        align-items: center;
        gap: $gap-small; //make into $gap-container-small

        .commentIcon {
            width: 18px;
            height: 18px;
        }
    }
  }
}
