// CLEAN UP THIS FILE

.activityCard {
  background-color: vars.$color-background;
  border-bottom: 1px solid var(--color-feed-item-bg);
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;

  .commentFooter {
    align-items: center;
    display: flex;
    gap: vars.$gap-medium;
    justify-content: flex-end;
  }

  .commentVotes {
    display: flex;
    align-items: center;
    gap: vars.$gap-small;

    .downvoteIcon {
      transform: rotate(180deg);
    }
  }

  .commentCount {
    display: flex;
    align-items: center;
    gap: vars.$gap-small;
  }
}
