// CLEAN UP THIS FILE

@import './styles/variables.scss';

.commentCard {
  background-color: var(--color-feed-item-bg);
  border-radius: $radius-small;
  color: var(--color-body-font);

  .commentContent {
    border-left: 1px solid #ADADAD;
    color: var(--color-body-font);
    display: flex;
    flex-direction: column;
    font-size: $font-size-body-text;
    gap: $gap-small;
    padding-left: $padding-medium;

    .userWrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .userName {
          align-items: center;
          display: flex;
          flex-direction: row;
          font-size: $font-size-body-text;
          gap: $gap-medium;

          .userIcon {
              background-color: var(--color-icon);
              border-radius: 50%;
              height: 40px;
              width: 40px;
          }
        }
      }
    }

  .commentFooter {
    align-items: center;
    display: flex;
    gap: $gap-medium;
    justify-content: flex-end;
  }

  .commentCount {
    span {
      color: var(--color-body-font);
    }
  }
}

  
 
  
