// CLEAN UP THIS FILE

.exploreItem {
  aspect-ratio: 1;
  border-radius: vars.$radius-large;
  cursor: pointer;
  flex-shrink: 0;
  height: 240px;
  min-width: 240px;
  position: relative;
  transform-origin: center center;
  transition: transform vars.$transition-duration-short;
  z-index: 1;

  &:hover {
    transform: scale(1.02);
    z-index: 2;
  }

  img {
    border-radius: vars.$radius-large;
  }
}
