@import "./styles/variables.scss";

.notificationCard {
    align-items: center;
    background-color: var(--color-notification-bg);
    border-radius: $radius-large;
    display: flex;
    justify-content: space-between;
    
    .cardContent {
      color: var(--color-body-font);
      display: flex;
      flex-direction: column;
      gap: $gap-small;
      width: 100%;

      .cardHeader {
        align-items: center;
        gap: $gap-small;
        justify-content: unset;
      }

      .cardBody {
        color: var(--color-body-font);
        display: unset;
        font-size: 14px;
        
        span {
          color: $color-notification-username;
        }
      }
    }

    .cardArrow {
      color: $color-brand;
      font-size: $notification-icon-size;
      padding: $padding-medium;
    }
  }