// CLEAN UP THIS FILE

.notificationCard {
  align-items: center;
  background-color: var(--color-notification-bg);
  border-radius: vars.$radius-large;
  display: flex;
  justify-content: space-between;

  .cardContent {
    color: vars.$color-font-body;
    display: flex;
    flex-direction: column;
    gap: vars.$gap-small;
    width: 100%;

    .cardHeader {
      align-items: center;
      gap: vars.$gap-small;
      justify-content: unset;
    }

    .cardBody {
      color: vars.$color-font-body;
      display: unset;
      font-size: vars.$font-size-body-large;

      span {
        color: vars.$color-notification-username;
        font-size: vars.$font-size-body-large;
      }
    }
  }

  .cardArrow {
    color: vars.$color-brand;
    font-size: vars.$font-size-body-medium;
    padding: vars.$padding-medium;
  }
}
