// CLEAN UP THIS FILE

.timelineCard {
  border-radius: vars.$radius-large;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  .timelineCardImage {
    height: 60vh;
    position: relative;
  }

  .timelineCardOverlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    );
    position: absolute;
  }

  .timelineCardContent {
    bottom: 0;
    color: white;
    padding: vars.$padding-medium;
    position: absolute;

    h3 {
      color: white;
    }
  }
}
