// SIGN-UP PAGE

.startScreenWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 100%;
  gap: vars.$gap-medium;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  img {
    height: vars.$logo-wisdm;
    margin: auto;
  }

  .signupButton,
  .loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vars.$button-width;
    height: vars.$button-height;
    box-sizing: content-box;
    border-radius: vars.$radius-large;
    border-width: 0;

    font-size: vars.$font-size-header-small;
    text-align: center;
    margin: 0 auto;
  }

  .signupButton {
    background-color: vars.$color-brand;
    color: white;
  }

  .loginButton {
    background-color: vars.$color-brand-light;
    color: vars.$color-brand;
  }
}
