@import "@/styles/variables.scss";

// LOGIN PAGE
.loginPage {
    margin: 20px;
    margin-top: 8rem;
    text-align: center;
  
    .logo {
      height: $logo-wisdm;
      margin: 20px auto;
    }
  
    .forgotPassword {
      display: block;
      text-align: right;
      color: $color-brand;
      font-size: $font-size-body-text;
      margin: 10px 0;
      text-decoration: none;
    }
  }