// CLEAN UP THIS FILE

.commentBodyContainer {
  display: flex;
  flex-direction: row;
  gap: vars.$gap-medium;

  .commentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .commentFooter {
    display: flex;
    align-items: center;
    gap: vars.$gap-medium;

    .commentIconContainer {
      display: flex;
      align-items: center;
      gap: vars.$gap-small;
    }

    img {
      width: 20px;
      height: 20px;
      margin: 0;
    }
  }
}

.commentHeader {
  display: flex;
  align-items: center;
  color: vars.$color-font-body;
  height: 50px;
}

.userPhoto {
  border: 1px solid var(--color-comment-font-detail);
  border-radius: 50%;
  z-index: 50;
}

.usernameElapsed {
  @include vars.use-font("regular");
  font-size: vars.$font-size-body-medium;
  color: vars.$color-font-body;
}

.commentContent {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-small;
}

.commentText {
  @include vars.use-font("thin");
  font-size: vars.$font-size-body-small;

  color: vars.$color-font-body;
}

.commentIcon {
  cursor: pointer;
}

.commentCount {
  @include vars.use-font("thin");
  font-size: vars.$font-size-body-small;
  color: var(--color-comment-font-detail);
}
