// CLEAN UP THIS FILE

.perspectivesContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 1rem;
  gap: vars.$gap-medium;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.perspective {
  width: 50%;
  border-radius: vars.$radius-small;
  padding: vars.$padding-medium;
  text-align: center;
}

.left {
  background-color: var(--color-input);
  color: vars.$color-font-body;
}

.right {
  background-color: var(--color-input);
  color: vars.$color-font-body;
}
