// CLEAN UP THIS FILE

@import "./styles/variables.scss";

.perspectivesContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 1rem;
  gap: $gap-medium;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.perspective {
  width: 50%;
  border-radius: $radius-small;
  padding: $padding-medium;
  text-align: center;

  h2 {
    font-family: $font-poppins-regular;
    font-size: $font-size-event-date;
    font-weight: 700;
  }

  p {
    font-family: $font-poppins-regular;
    font-size: $font-size-event-date;
    font-weight: 400;
  }
}

.left {
  background-color: var(--color-input);
  color: var(--color-body-font);
}

.right {
  background-color: var(--color-input);
  color: var(--color-body-font);
}
