@import "./styles/variables.scss";

.voteContainer {
  display: flex;
  align-items: center;
  gap: $gap-small;
}

.voteArrow {
}

.downvote {
  transform: rotate(180deg);
}

.voteCount {
  font-family: $font-poppins-thin;
  font-size: $font-size-comment-details;
  font-weight: 200;
  color: var(--color-comment-font-detail);
}
