// CLEAN UP THIS FILE

.voteContainer {
  display: flex;
  align-items: center;
  gap: vars.$gap-small;
}

.voteArrow {
}

.downvote {
  transform: rotate(180deg);
}

.voteCount {
  @include vars.use-font("thin");
  font-size: vars.$font-size-body-small;
  color: var(--color-comment-font-detail);
}
