// CLEAN UP THIS FILE

.authButton {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: vars.$radius-small;
  color: #000;
  display: flex;
  @include vars.use-font("regular");
  font-size: vars.$font-size-header-small;
  gap: vars.$gap-medium;
  height: vars.$button-height;
  justify-content: center;
  padding: vars.$padding-button;
  text-align: center;
  width: 100%;
}
