@import "variables.scss";

.homeContainer {
  padding: $container-padding;
  color: $container-color;
  background-color: $container-background;
  display: flex;
  flex-direction: column;
  height: $container-height;
  width: $container-width;
  box-sizing: $container-box-sizing;
  overflow-y: $container-overflow-y;
}

.feedSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
}

.feedItem {
  position: relative;
  flex: 0 0 auto; /* Ensure each feedItem takes up its own space */
  display: flex;
  flex-direction: column;
  background-color: $feed-item-background;
  border-radius: $feed-item-border-radius;
  overflow: hidden;
  margin-bottom: $feed-item-margin-bottom;
  height: $feed-item-height; /* Make each feedItem take up the full height of feedSection */

  .feedImage {
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $gradient-overlay;
      z-index: 1;
    }
  }

  .feedContent {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: $feed-content-padding;
    z-index: 100;

    h3 {
      font-family: $feed-content-font-family;
      font-size: $feed-content-font-size;
      color: $feed-content-color;
    }
  
    p {
      font-size: $body-text;
      color: $feed-content-info-color;
    }
  }
}