@import "./styles/variables.scss";

// FORGOTTEN PASSWORD PAGE
.forgotPasswordPage {
    margin-top: 8rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    padding: $padding-medium;
}