@import "./styles/variables.scss";

.pageTitle {
  display: flex;
  flex-direction: column;
  gap: $gap-small;

  h2 {
    color: $color-vote-text-description;
    font-size: 18px;
    font-weight: 400;
  }
}
