@import "@/styles/variables.scss";

.notificationsContainer {
  padding: $container-padding;
  color: $container-color;
  display: flex;
  flex-direction: column;
  height: $container-height;
  width: $container-width;
  box-sizing: border-box;
  overflow-y: $container-overflow-y;
}