@import "@/styles/variables.scss";

.notificationsContainer {
  padding: $container-padding;
  color: $container-color;
  display: flex;
  flex-direction: column;
  height: $container-height;
  width: $container-width;
  box-sizing: $container-box-sizing;
  overflow-y: $container-overflow-y;
}

.notificationItem {
  background-color: $color-light-mode-notification-bg; //CHANGE COLOR FOR LIGHT & DARK MODE
  border-radius: $notification-border-radius;
  padding: $notification-padding;
  margin-bottom: $notification-margin-bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .notificationContent {
    display: flex;
    flex-direction: column;

    .notificationTitle {
      font-size: 16px;
      font-weight: 700;
      color: $color-light-mode-header-font; //CHANGE COLOR FOR LIGHT & DARK MODE
      display: flex;
      align-items: center;

      .notificationIcon {
        font-size: $notification-icon-size;
        margin-right: 8px;
      }
    }

    .notificationText {
      font-size: 16px;
      font-family: 'Poppins';
      font-weight: '400';
      color: $color-light-mode-info-font; //CHANGE COLOR FOR LIGHT & DARK MODE

      .username {
        color: $notification-username-color;
      }
    }
  }

  .notificationArrow {
    font-size: $notification-icon-size;
    color: $notification-arrow-color;
  }
}