// CLEAN UP THIS FILE

.outerDragContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-timeline-comment-bg);
  border-top-left-radius: vars.$radius-medium;
  border-top-right-radius: vars.$radius-medium;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform vars.$transition-duration;
  margin: 0px 20px;
}

.draggableTab {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  cursor: grab;
}

.dragHandle {
  width: 200px;
  height: 5px;
  background-color: #888;
  border-radius: vars.$radius-small;
  margin: 10px auto;
}

.headerContainer {
  padding: vars.$padding-medium;

  h2 {
    color: vars.$color-font-body;
  }
}

.commentGuidelines {
  border-top: 2px solid var(--color-comment-font-detail);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: vars.$padding-small;
  @include vars.use-font("thin");
  font-size: vars.$font-size-body-small;

  color: var(--color-comment-font-detail);
}

.commentContainer {
  overflow: scroll;
  padding: vars.$padding-medium vars.$padding-medium 50px vars.$padding-medium;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
