@import "./styles/variables.scss";

.mainContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: $color-background;
}

.main {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: $color-background;
}

//SPLASH SCREEN CLASSES
.splashScreen {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $gradient-splash;

  img {
    height: $logo-wisdm-splash;
    margin: auto;
  }
}

.settingsWindow {
  position: absolute;
  right: 0;
  width: 324px;
  height: 859px;
  box-shadow: $shadow-box;
}
