@import "@/styles/variables.scss";

// PERSONAL INFO PAGE
.personalInfoPage {
    margin: 20px;
    text-align: center;
    margin-top: 8rem;
  
    .genderButtons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      margin-bottom: 1rem;
  
      .genderButton {
        flex: 1;
        min-width: 100px;
        padding: 1rem;
        border: 0;
        border-radius: 8px;
        background-color: var(--color-light-mode-input);
        color: var(--color-info);
        cursor: pointer;
      }
    }
  }