// CLEAN UP THIS FILE

.button {
  position: absolute;
  display: grid;
  box-sizing: border-box;
  place-items: center;
  border: 1px transparent;
  border-radius: 50%;
  transform-origin: center;
  cursor: pointer;
  height: 20px;
  width: 20px;

  &.collapsed {
    transform: rotate(-90deg) translateY(-50%);
    background-color: var(--color-comment-font-detail);
  }

  &.expanded {
    transform: rotate(0deg) translateX(-50%);
    background-color: var(--color-comment-font-detail);
  }
}
