// TAGS INFO PAGE
// CLEAN UP THIS FILE
.loginContainer {
  .tagCounter {
    opacity: 0.8;
  }

  .errorMessage {
    color: #ff4d4f;
    font-size: vars.$font-size-body-medium;
    text-align: center;
  }
}
