.transitionContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.transitionContent {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slideFromRight {
  transform: translateX(100%);
  animation: slideFromRight 2000ms forwards;
}

.slideToLeft {
  transform: translateX(-100%);
  animation: slideToLeft 2000ms forwards;
}

.slideFromLeft {
  transform: translateX(-100%);
  animation: slideFromLeft 2000ms forwards;
}

.slideToRight {
  transform: translateX(100%);
  animation: slideToRight 2000ms forwards;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
