@import "@/styles/variables.scss";

.voteContainer {
  padding: $container-padding;
  color: $container-color;
  display: flex;
  flex-direction: column;
  height: $container-height;
  width: $container-width;
  box-sizing: border-box;
  overflow-y: $container-overflow-y;
}

.voteItem {
  position: relative;
  background-color: var(--color-bg);
  border-radius: $radius-small;
  overflow: hidden;
  margin-bottom: $vote-item-margin-bottom;
  height: $vote-item-height;

  .voteImage {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $vote-item-overlay;
      z-index: 1;
    }
  }

  .voteContent {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $container-padding;
    z-index: 2;

    h3 {
      font-family: $font-poppins-semibold;
      font-size: $font-size-body-text;
      color: var(--color-text);
      text-align: center;
    }
  }
}