@import "@/styles/variables.scss";

// TAGS INFO PAGE
.tagsInfoPage {
    margin: 20px;
    text-align: center;
    margin-top: 8rem;
  
    .tagsButtons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
  
      .tagButton {
        flex: 0 1 auto;
        min-width: 100px;
        max-width: fit-content;
        white-space: nowrap;
        overflow: visible;
        padding: 1rem;
        border: 0;
        border-radius: 8px;
        background-color: $color-light-mode-input; //CHANGE COLOR FOR LIGHT & DARK MODE
        color: $color-light-mode-body-font; //CHANGE COLOR FOR LIGHT & DARK MODE
        cursor: pointer;
      }
    }
  }