@import "@/styles/variables.scss";

// TAGS INFO PAGE
.tagsInfoPage {
    margin: 20px;
    text-align: center;
    margin-top: 8rem;
  
    .tagsButtons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
  
      .tagButton {
        flex: 0 1 auto;
        min-width: 100px;
        max-width: fit-content;
        white-space: nowrap;
        overflow: visible;
        padding: 1rem;
        border: 0;
        border-radius: 8px;
        background-color: var(--color-feed-item-bg);
        font-family: $font-poppins-regular;
        color: var(--color-body-font);
        cursor: pointer;
      }
    }
  }