// PROFILE DASHBOARD PAGE

.pageContent {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: vars.$padding-medium;
  z-index: 100;
  background-color: vars.$color-background;
  min-height: 250px;
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: vars.$gap-medium;
}

.userInfo {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: vars.$gap-small;

  .tagContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: vars.$gap-small;
  }
}

.editButton {
  padding: vars.$profile-tab-padding;
  border: 0;
  border-radius: vars.$radius-small;
  background-color: var(--color-input);
  color: vars.$color-font-body;
  cursor: pointer;
}
