// INTERESTS PAGE
// CLEAN UP THIS FILE
.loginContainer {
  .interestCounter {
    opacity: 0.8;
  }

  .interestsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: vars.$gap-medium;
    justify-content: center;
    margin-bottom: 100px;

    .interestItem {
      align-items: center;
      border-radius: vars.$radius-small;
      box-sizing: border-box;
      cursor: pointer;
      flex-direction: column;
      gap: vars.$gap-medium;
      width: 175px;

      &.selected img {
        opacity: 0.5;
      }

      img {
        border-radius: vars.$radius-small;
        height: auto;
        width: 100%;
      }
    }
  }
}
