@import "./styles/variables.scss";

.interestsPage {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  margin-top: 8rem;
  padding: $padding-medium;
  text-align: center;

  .interestsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-medium;
    justify-content: center;
    margin-bottom: 100px;

    .interestItem {
      align-items: center;
      border-radius: 8px;
      box-sizing: border-box;
      cursor: pointer;
      flex-direction: column;
      gap: $gap-medium;
      transition: background-color 0.3s;
      width: 175px;

      &.selected img {
        opacity: 0.5;
      }

      img {
        border-radius: 8px;
        height: auto;
        width: 100%;
      }

      p {
        color: var(--color-body-font);
        font-family: $font-poppins-regular;
        font-size: 10px;
      }
    }
  }
}
