// SIGN-UP PAGE
// CLEAN UP THIS FILE

.loginContainer {
  .orDivider {
    margin: vars.$margin-medium 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: vars.$color-divider;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: vars.$color-divider;
    }

    &::before {
      margin-right: 1rem;
    }

    &::after {
      margin-left: 1rem;
    }
  }

  .suggestedPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: vars.$gap-small;
    width: 100%;
  }

  .containerClass {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: vars.$gap-small;

    .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: vars.$gap-small;
    }

    .standardButton {
      border-radius: vars.$radius-small;
      width: fit-content;
      height: vars.$button-height;
      padding: vars.$padding-button;
      border-color: transparent;
      background-color: var(--color-input);
      color: vars.$color-font-body;
      cursor: pointer;

      &:hover {
        background-color: vars.$color-brand;
      }
    }

    .passwordContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      width: fit-content;
      gap: vars.$gap-small;
      padding: vars.$padding-small;
      border-radius: vars.$radius-small;
      background-color: var(--color-input);

      .passwordText {
        font-size: vars.$font-size-body-small;
      }
    }
  }
}

.nextWrapper {
  display: flex;
  justify-content: center;
}
