.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  overflow: hidden;

  h2 {
    color: white;
  }

  p {
    color: white;
  }

  .circleExpand {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 40px;
    height: 40px;
    transform-origin: center center;
    pointer-events: none;
    margin: 0;
    padding: 0;
  }

  .overlayContent {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    color: white !important;
    display: flex;
    flex-direction: column;
    gap: vars.$gap-medium;
    padding: vars.$padding-medium;
    z-index: 1002;
    position: relative;
  }
}
