.commentThreadContainer {
  padding: vars.$padding-medium;
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
  position: relative;
}

.commentSortContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-radius: vars.$radius-medium;
  gap: vars.$gap-small;

  .commentSortButton {
    padding: vars.$padding-small;
    background-color: var(--color-input);
    border-radius: vars.$radius-medium;
    border: none;

    &:hover {
      background-color: var(--color-navbar);
    }
  }
}
