// CLEAN UP THIS FILE

.commentContainer {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  gap: vars.$gap-medium;

  &.show {
    opacity: 1;
    max-height: 100%;
    margin-top: 10px;
  }

  &.hide {
    opacity: 0;
    max-height: 0;
    margin-top: 0px;
  }

  .commentBody {
    padding: 10px;
    background-color: #f0f0f0;
  }

  .commentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
  }
}
