@import "styles/variables.scss";

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.spinnerCircle {
  width: 60px;
  height: 60px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top-color: $color-brand;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
