// CLEAN UP THIS FILE

.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: vars.$color-background;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; //REMOVE
}

.logoContainer {
  display: flex;
  justify-content: center;
  will-change: transform;
}

.overlayText {
  color: vars.$color-font-body;
  font-size: vars.$font-size-header-medium;
}

.overlayTitle {
  bottom: 10%;
  color: vars.$color-brand;
  position: absolute;

  h2 {
    font-size: vars.$font-size-header-large;
    letter-spacing: 0.05em; // REMOVE
  }
}
