// PERSONAL INFO PAGE
// CLEAN UP THIS FILE

.loginContainer {
  .genderButtons {
    display: flex;
    flex-wrap: wrap;
    gap: vars.$gap-medium;
    justify-content: center;

    .genderButton {
      flex: 1;
      min-width: 100px;
      padding: 1rem;
      border: 0;
      border-radius: vars.$radius-large;
      background-color: var(--color-feed-item-bg);
      box-sizing: border-box;
      border: 2px solid transparent;

      &.active {
        border: 2px solid var(--color-input-border);
      }
    }
  }
}
