@import "./styles/variables.scss";

// PERSONAL INFO PAGE
.personalInfoPage {
  padding: $padding-medium;
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  text-align: center;
  margin-top: 8rem;

  .genderButtons {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-medium;
    justify-content: center;

    .genderButton {
      flex: 1;
      min-width: 100px;
      padding: 1rem;
      border: 0;
      border-radius: 8px;
      background-color: var(--color-feed-item-bg);
      font-family: $font-poppins-regular;
      color: var(--color-body-font);
      cursor: pointer;
      box-sizing: border-box;
      border: 2px solid transparent;

      &.active {
        border: 2px solid var(--color-input-border);
      }
    }
  }
}