// EXPLORE DASHBOARD PAGE

.exploreFeedContainer {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  position: relative;
  width: 100%;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 2;
  }
}

.exploreFeed {
  animation: scroll 40s linear infinite;
  display: flex;
  gap: 16px;
  padding: 8px;
  user-select: none;

  &:active {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.seeAll {
  color: vars.$color-brand;
  @include vars.use-font("regular");
  text-decoration: none;
}
