// CLEAN UP THIS FILE

.labelContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.sendIcon {
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: vars.$color-brand;
  opacity: 0;
  cursor: text;
}

.sendIconActive {
  opacity: 1;
  cursor: pointer;
}
