@import 'src/styles/variables.scss';

:root {
    --color-bg: #{$color-light-mode-bg};
    --color-header-font: #{$color-light-mode-header-font};
    --color-body-font: #{$color-light-mode-body-font};
    --color-info-font: #{$color-light-mode-info-font};
    --color-input: #{$color-light-mode-input};
    --color-navbar-top: #{$color-light-mode-navbar-bg-top};
    --color-navbar: #{$color-light-mode-navbar-bg};
    --color-navbar-shadow: #{$color-light-mode-navbar-shadow};
    --color-feed-item-bg: #{$color-light-mode-feed-item-bg};
    --color-notification-bg: #{$color-light-mode-notification-bg};
  }
  
  [data-theme='dark'] {
    --color-bg: #{$color-dark-mode-bg};
    --color-header-font: #{$color-dark-mode-header-font};
    --color-body-font: #{$color-dark-mode-body-font};
    --color-info-font: #{$color-dark-mode-info-font};
    --color-input: #{$color-dark-mode-input};
    --color-navbar-top: #{$color-dark-mode-navbar-bg-top};
    --color-navbar: #{$color-dark-mode-navbar-bg};
    --color-navbar-shadow: #{$color-dark-mode-navbar-shadow};
    --color-feed-item-bg: #{$color-dark-mode-feed-item-bg};
    --color-notification-bg: #{$color-dark-mode-notification-bg};
  }