// COLORS
$color-brand: #855db9;
$color-brand-light: #ded9fc;
$color-background: var(--color-bg);
$color-notification-username: #a855f7;
$color-divider: #606060;
$color-light-mode-timeline-right-perspective: #333333;
$color-light-mode-timeline-left-perspective: #dedede;
$color-light-mode-timeline-comment-bg: #eaeaea;
$color-dark-mode-timeline-comment-bg: #2e2e2e;
$color-light-mode-timeline-event-bg: #dedede;
$color-dark-mode-timeline-event-bg: #2e2e2e;
$color-vote-text-description: #888888;

// TAG COLORS
$color-left-liberal: #4d5fff;
$color-right-rebel: #ff4d4d;
$color-middle-man: #b78f00;
$color-eco-warrior: #1bab03;
$color-tech-geek: #45a5a5;
$color-freedom-fanatic: #ff4de3;
$color-socialist-spark: #ac5e5e;
$color-capitalist-crusader: #a98e00;
$color-cultural-creative: #ad5f16;
$color-green-guardian: #69ae63;
$color-planet-preserver: #667e3e;
$color-diplomacy-devotee: #59518b;
$color-justice-juggernaut: #50779b;
$color-fiscal-hawk: #3a5e00;
$color-urban-utopian: #c65f00;
$color-rural-revolutionary: #653378;
$color-equality-evangelist: #000000;

// LIGHT MODE VARIABLES
$color-light-mode-bg: #ffffff;
$color-light-mode-body-font: #111111;
$color-light-mode-comment-font: #3c3c3c;
$color-light-mode-comment-font_detail: #5b5b5b;
$color-light-mode-feed-item-bg: #eaeaea;
$color-light-mode-header-font: #111111;
$color-light-mode-info-font: #5b5b5b;
$color-light-mode-input: #eaeaea;
$color-light-mode-input-border: #3c3c3c;
$color-light-mode-navbar-bg: #eaeaea;
$color-light-mode-navbar-bg-top: #ffffff;
$color-light-mode-navbar-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 1);
$color-light-mode-notification-bg: #e8e8e8;

// DARK MODE VARIABLES
$color-dark-mode-bg: #232323;
$color-dark-mode-body-font: white;
$color-dark-mode-comment-font: #f5f5f5;
$color-dark-mode-comment-font_detail: #adadad;
$color-dark-mode-feed-item-bg: #3c3c3c;
$color-dark-mode-header-font: white;
$color-dark-mode-info-font: #b1b1b1;
$color-dark-mode-input: #3c3c3c;
$color-dark-mode-input-border: #eaeaea;
$color-dark-mode-navbar-bg: #2d2d2d;
$color-dark-mode-navbar-bg-top: #232323;
$color-dark-mode-navbar-shadow: 0px 0px 12px 0px rgba(35, 35, 35, 0.8);
$color-dark-mode-notification-bg: #282828;

// GRADIENTS
$gradient-splash: linear-gradient(
  180deg,
  rgba(77, 35, 167, 0.79) 0%,
  #bf64f7 64.5%,
  #d55cff 94.5%
);
$gradient-quad: conic-gradient(
  from 0deg at 50% 50%,
  #b0853b 3.6deg,
  #8f3d3d 93.6deg,
  rgba(94, 64, 115, 0.9) 180deg,
  #406b8f 270deg
);
$gradient-quad2: linear-gradient(
    90deg,
    rgba(254, 45, 80, 0.5) 0%,
    rgba(166, 121, 185, 0.5) 61%,
    rgba(110, 169, 252, 0.5) 100%
  ),
  #3c3c3c;
$gradient-overlay: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.8) 100%
);
$gradient-vote-item-overlay: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
);

@mixin font-face($name, $weight, $file) {
  @font-face {
    font-family: $name;
    src: url("/assets/fonts/Poppins/#{$file}.ttf") format("ttf");
    font-weight: $weight;
    font-style: normal;
  }
}

// FONTS
$font-poppins-thin: "Poppins Thin", 100, "Poppins-Thin";
$font-poppins-extralight: "Poppins ExtraLight", 200, "Poppins-ExtraLight";
$font-poppins-light: "Poppins Light", 300, "Poppins-Light";
$font-poppins-regular: "Poppins Regular", 400, "Poppins-Regular";
$font-poppins-medium: "Poppins Medium", 500, "Poppins-Medium";
$font-poppins-semibold: "Poppins SemiBold", 600, "Poppins-SemiBold";
$font-poppins-bold: "Poppins Bold", 700, "Poppins-Bold";
$font-poppins-extrabold: "Poppins ExtraBold", 800, "Poppins-ExtraBold";
$font-poppins-black: "Poppins Black", 900, "Poppins-Black";

@include font-face($font-poppins-thin...);
@include font-face($font-poppins-extralight...);
@include font-face($font-poppins-light...);
@include font-face($font-poppins-regular...);
@include font-face($font-poppins-medium...);
@include font-face($font-poppins-semibold...);
@include font-face($font-poppins-bold...);
@include font-face($font-poppins-extrabold...);
@include font-face($font-poppins-black...);

/// CHANGE ALL THESE TO HAVE THE PROPERTY FIRST, AND THEN A DESCRIPTION
// FONT SIZES
$font-size-large-header: 30px;
$font-size-page-header: 24px;
$font-size-small-header: 20px;
$font-size-event-text: 18px;
$font-size-event-date: 16px;
$font-size-body-text: 14px;
$font-size-comment-details: 12px;

// SHADOWS
$shadow-box: 0px 0px 14px 0px rgba(0, 0, 0, 0.12),
  0px 14px 14px 0px rgba(0, 0, 0, 0.24);

// BUTTONS, INPUT FIELDS
$button-height: 44px;
$button-width: 187px;
$button-width-small: 127px;
$button-padding: 10px 30px;
$button-radius: 16px;

// LOGOS
$logo-wisdm: 36px;
$logo-wisdm-splash: 60px;

// COMMON STYLES
$container-height: 100vh;
$container-width: 100vw;
$radius-small: 8px;
$radius-large: 16px;

// MARGINS, BORDERS, GAPS, PADDING
$gap-medium: 20px;
$gap-small: 10px;
$padding-medium: 20px;
$padding-small: 10px;

// MOVE TO HOME STYLESHEET
$feed-item-margin-bottom: 3rem; // REMOVE AND USE GAP
$feed-item-height: 65vh;

// NOTIFICATION SPECIFIC STYLES
$notification-margin-bottom: 20px; //REMOVE AND USE GAP IN FLEX CONTAINER
$notification-icon-size: 24px; //USE COMMON CLASS FONT SIZE

// PROFILE SPECIFIC STYLES
$profile-avatar-size: 80px;
$profile-tag-padding: 5px 10px;
$profile-tab-padding: 10px 20px; //USE COMMON CLASS CONTAINER PADDING

// SETTINGS SPECIFIC STYLES
$settings-slide-width: 300px;
$settings-slide-transition: 0.3s ease;

// GENERIC CLASSES
.tagButton {
  background-color: var(--color-timeline-comment-sort-button);
  border: 0;
  border-radius: 8px;
  color: var(--color-body-font);
  cursor: pointer;
  flex: 0 1 auto;
  font-family: $font-poppins-regular;
  margin: 0;
  max-width: fit-content;
  overflow: visible;
  padding: 10px 5px;
  text-align: center;
  white-space: nowrap;
}

// TAG CLASSES
.userTag {
  background-color: $color-brand;
  border-radius: 14px;
  color: white;
  font-size: 12px;
  line-height: 18px;
  padding: $profile-tag-padding;
  width: fit-content;
}

.activeLeftLiberal {
  background-color: $color-left-liberal !important;
  color: white !important;
}

.activeRightRebel {
  background-color: $color-right-rebel !important;
  color: white !important;
}

.activeMiddleMan {
  background-color: $color-middle-man !important;
  color: white !important;
}

.activeEcoWarrior {
  background-color: $color-eco-warrior !important;
  color: white !important;
}

.activeTechGeek {
  background-color: $color-tech-geek !important;
  color: white !important;
}

.activeFreedomFanatic {
  background-color: $color-freedom-fanatic !important;
  color: white !important;
}

.activeSocialistSpark {
  background-color: $color-socialist-spark !important;
  color: white !important;
}

.activeCapitalistCrusader {
  background-color: $color-capitalist-crusader !important;
  color: white !important;
}

.activeCulturalCreative {
  background-color: $color-cultural-creative !important;
  color: white !important;
}

.activeGreenGuardian {
  background-color: $color-green-guardian !important;
  color: white !important;
}

.activePlanetPreserver {
  background-color: $color-planet-preserver !important;
  color: white !important;
}

.activeDiplomacyDevotee {
  background-color: $color-diplomacy-devotee !important;
  color: white !important;
}

.activeJusticeJuggernaut {
  background-color: $color-justice-juggernaut !important;
  color: white !important;
}

.activeFiscalHawk {
  background-color: $color-fiscal-hawk !important;
  color: white !important;
}

.activeUrbanUtopian {
  background-color: $color-urban-utopian !important;
  color: white !important;
}

.activeRuralRevolutionary {
  background-color: $color-rural-revolutionary !important;
  color: white !important;
}

.activeEqualityEvangelist {
  background-color: $color-equality-evangelist !important;
  color: white !important;
}

// GENERIC CLASSES
.pageContainer {
  background-color: $color-background;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  height: 100%;
  overflow-y: auto;
  padding: $padding-medium;
  width: 100%;
  margin-bottom: 100px;

  .pageWrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
  }

  .pageTitle {
    display: flex;
    font-family: $font-poppins-regular;
    font-size: $font-size-page-header;
    font-weight: 700;
    line-height: 1;
    position: relative;

    h1 {
      font-size: $font-size-page-header;
      color: $color-brand;
      width: 100%;
    }
  }

  .sectionTitle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;

    h2 {
      color: var(--color-header-font);
      font-family: $font-poppins-semibold;
      font-size: $font-size-small-header;
      font-weight: 600;
    }
  }

  .searchBar {
    align-items: center;
    background-color: var(--color-input);
    border-radius: 8px;
    display: flex;
    height: 44px;
    padding: $padding-small;

    input {
      background: none;
      border: none;
      flex: 1;
      font-size: 16px;
      outline: none;
    }

    .searchIcon {
      height: 20px;
      width: 20px;
    }
  }

  .iconContainer {
    display: flex;
    gap: $gap-medium;
    position: absolute;
    right: 0;
    top: 0;

    .questionIcon,
    .settingsIcon {
      cursor: pointer;
      height: 30px;
      width: 30px;
    }
  }
}

// CARD COMPONENT STYLES
.cardImage {
  height: 100%;
  position: absolute;
  width: 100%;

  img {
    object-fit: cover;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: $gap-small;
  height: 100%;
  justify-content: space-between;
  padding: $padding-medium;
  position: relative;
  z-index: 1;

  h3 {
    font-family: $font-poppins-regular;
    font-size: 18px;
    font-weight: 400;
  }

  p {
    font-family: $font-poppins-thin;
    font-size: $font-size-body-text;
    font-weight: 200;
  }

  span {
    font-family: $font-poppins-thin;
    font-size: 12px;
  }

  .cardBody {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
  }
}

// .commentContainer {
//   align-items: center;
//   display: flex;
//   gap: $gap-small;
// }

// .commentContainer .downvoteIcon {
//   height: 18px;
//   transform: rotate(180deg);
//   width: 18px;
// }

// .commentContainer .upvoteIcon {
//   height: 18px;
//   width: 18px;
// }

// .commentFooter {
//   align-items: center;
//   display: flex;
//   gap: $gap-medium;
//   justify-content: flex-end;
// }

// .commentCount {
//   align-items: center;
//   display: flex;
//   gap: 10px;

//   img {
//     height: 18px;
//     width: 18px;
//   }

//   span {
//     align-items: center;
//     color: #d9d9d9;
//     display: flex;
//     gap: $gap-small;
//   }
// }

.overlay {
  background: rgba(50, 50, 50, 0.7);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// ONBOARDING CLASSES
.onboardingWrapper {
  align-items: center;
  background-color: $color-background;
  height: 100%;
  width: 100%;

  .onboardingContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
}

.onboardingTextBlock {
  display: flex;
  flex-direction: column;
  gap: $gap-small;
  h1 {
    color: var(--color-header-font);
    font-family: $font-poppins-regular;
    font-size: $font-size-page-header;
    font-weight: 600;
  }

  p {
    color: var(--color-body-font);
    font-size: $font-size-body-text;
  }
}

.backButton {
  // FIXED, MOVE TO CORRECT PLACE
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: $font-size-page-header;
  left: 20px;
  top: 20px;
  position: absolute;
}

.onboardingHeader {
  display: flex;
  left: 0;
  margin-top: 4rem;
  position: fixed;
  top: 0;
  width: 100%;

  .progressCircles {
    left: 50%;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
  }
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-small;
  width: 100%;

  .labelContainer {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
  }

  label {
    color: var(--color-body-font);
    font-family: $font-poppins-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
  }

  input {
    appearance: none;
    background-color: var(--color-input);
    border: 0;
    border-radius: 8px;
    color: var(--color-body-font);
    height: 45px;
    padding: $padding-small;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.infoText {
  color: var(--color-info-font);
  font-family: $font-poppins-regular;
  font-size: 10px;
  font-weight: 400;
  text-align: center;

  a {
    color: $color-brand;
    text-decoration: none;
  }
}

.nextWrapper {
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  width: 100%;
  gap: $gap-medium;
}

.nextButton {
  align-items: center;
  background-color: $color-brand;
  border: none;
  border-radius: $button-radius;
  color: white !important;
  cursor: pointer;
  display: flex;
  font-family: $font-poppins-semibold;
  font-size: 16px;
  font-weight: 600;
  height: $button-height;
  justify-content: center;
  line-height: 24px;
  margin: auto !important;
  text-align: center;
  width: 90%;
}

.authWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  justify-content: center;
  text-align: center;
  width: 100%;

  .authButton {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: $radius-small;
    color: #000;
    display: flex;
    font-family: $font-poppins-regular;
    font-size: 16px;
    font-weight: 600;
    gap: $gap-medium;
    height: $button-height;
    justify-content: center;
    padding: $button-padding;
    text-align: center;
    width: 100%;
  }
}
